@use "_Duration";

.monaco-list-row:not(.explorer-folders-view .monaco-list-row) {
  transition: transform var(--active-duration);
  transform: scale(0.98);
  &.focused {
    transform: scale(1);
  }
}
