@use "_Duration";

.monaco-list-row {
  animation: scrollAppear var(--scrolling-duration);
}

.quick-input-widget .monaco-list-rows[style*="top: 0px;"] .monaco-list-row,
.settings-tree-container
  .monaco-list-rows[style*="top: 0px;"]
  .monaco-list-row {
  animation-duration: 0ms;
}

@keyframes scrollAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
