@use "_Duration";

.monaco-list-row {
  animation: scrollAppear var(--scrolling-duration);
}

.quick-input-widget .monaco-list-rows[style*="top: 0px;"] .monaco-list-row {
  animation-duration: 0ms;
}

@keyframes scrollAppear {
  from {
    opacity: 0.5;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
