@use "_Duration";

.monaco-list-row {
  animation: scrollAppear var(--scrolling-duration);
}

@keyframes scrollAppear {
  from {
    opacity: 0.5;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
