@use "_Duration";

.tabs-container > .tab {
  transform-origin: center;
  animation: tabAnimation var(--tabs-duration);
}

@keyframes tabAnimation {
  from {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
