@use "_Duration";
@use "_SmoothTabs";

.tabs-container > .tab.newTab {
  transform-origin: center;
  animation: openTab var(--tabs-duration);
}

@keyframes openTab {
  from {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
