.tabs-container > .tab {
  transform-origin: left;
  animation: openTab 300ms;
  z-index: 2;
}

@keyframes openTab {
  from {
    z-index: 1;
    opacity: 0;
    transform: translateX(-50%) scale(0);
  }
  to {
    z-index: 1;
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
