@use "_Duration";

.explorer-folders-view .monaco-list-row {
  transform-origin: center;
  animation: filesAnimation var(--files-duration);
}

@keyframes filesAnimation {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
